*{
    box-sizing:border-box;
    margin:0;
    overflow:hidden;
}
body{
    background:#614949;
}
@media only screen and (max-width:768px){
header{
    height:3rem;
    background-color: #0d0d0e;
    padding:0 1rem;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.app_title{
    color:#fff;
    font-family: cursive;
}
nav:nth-child(2){
    display:none;
}
.bar{
    border: 1px solid #fff;
    width:1.5rem;
    display: block;
}
.bar1{
    margin-top:0.3rem;
}
.form {
    max-width:300px;
    width:70%;
    /* padding:3rem 0px 1rem 0px; */
    background:#eeeff3; 
    margin:5rem auto 2rem; 
  
}

ul {
    list-style: none;
    padding:10px;
    margin:0; 
}
li {
    margin-top: 1em;
    display:flex;
    flex-wrap:wrap ;
    /* justify-content: flex-start; */
    gap:5px;    
}
label {
    /* flex:1; */
    font-family: cursive;
    text-align:right;
    font-weight:300;
    font-size:18px;
    color:#221c1c;
    

}
input {
    font: 1em cursive;;
    width:20rem;
    padding:5px;
    border-radius:5px;
    border:1px solid #0659d5;
    outline:none;
}
textarea{
    /* vertical-align: top; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:5em;
    width:20rem;
    padding:12px 20px;
    border-radius:5px;
}
.btn--success{
    background-color: #0967f5;
    /* padding-left:90px; */
}
.btn {
    padding:10px;
    font-size:16px;
    border-style:none;
    border-radius: 5px;
    color:#fff;
}
}

@media only screen and (min-width:768px){
header {
   height:3rem;
   background-color: #0d0d0e;
   padding:0 1rem;
   display:flex;
   align-items:center;
   justify-content: space-between;
}
.app_title{
    color:#fff;
    font-family: cursive;
}
nav:nth-child(2) {
    padding-right: 6rem;
    display:block;
}
nav:nth-child(3){
    display: none;
}
nav a:last-child {
    margin-left:2rem;
    
}
a{
    font-family: cursive;
    color:#fff;
    font-size:18px;
}
a:hover{
 
    border-bottom:1px solid #fff;
    cursor:pointer;

}
.form{
    padding-top:3rem;
    padding-bottom:1rem;
    margin:6rem auto 2rem; 
    width:35rem;
    background:#c0c9f8;
    border-radius: 1em;
}
ul{
    list-style: none;
    padding:0;
    margin:0;
}
li{
    margin-top: 1em;
    display:flex;
    align-items:center;
    gap:5px;
    
}
label{
    font-family: cursive;
    width:90px;
    text-align:right;
    font-weight:300;
    font-size:18px;
    color:#221c1c;

}
input{
     font: 1em cursive;;
     width:450px;
     padding:8px;
     border-radius:5px;
     border:1px solid #0659d5;
     outline:none;
}
input[type=text]:focus, input[type = email]:focus, textarea:focus {
    border: 3px solid #06fa80;
  }
textarea{
    vertical-align: top;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:5em;
    width:450px;
    padding:12px 20px;
    border-radius:5px;
    outline: none;
}
.btn--success{
    background-color: #0967f5;
    
    /* padding-left:90px; */
}
.btn {
    padding: 12px;
    font-size:16px;
    border-style:none;
    border-radius: 5px;
    color:#fff;
    margin-left:6em;
}

}
